@use "sass:math";
@import 'style.css';

html {
    // --refRes можно менять в зависимости от макетов в Figma
    // можно добавлять запросы и убирать не нужные
    --refRes: 1900;
    font-size: calc(100vw / var(--refRes) * 10);
  
  //   @media (min-width: 1921px) {
  //     font-size: 10px;
  //   }
  
    @media (max-width: 1024px) {
      --refRes: 768;
    }
  
    @media (max-width: 530px) {
      --refRes: 390;
    }
  }
  @function rem($pixels) {
      @return math.div($pixels, 10) + rem;
    }


.main {
    padding-top: rem(70);
    // .main__content
    
    &__more-events {
        display: flex;
        flex-direction: column;
        gap: rem(30);
        text-align: center;
        // .main__more-events_events

        &_events {
            display: flex;
            flex-direction: column;
            gap: rem(30);
            text-align: start;
        }
    }

    // .main__events

    &__events {

        // .main__events_event

        &_event {
            width: 100%;
            background-color: rgba(53, 53, 53, 0.66);
        }
    }

    // .main__event

    &__event {

        // .main__event_event-container

        &_event-container {
            width: rem(1400);
            margin: 0 auto;
            display: flex;
            gap: rem(40);
            padding: rem(30) 0;

            img{
                width: 30%;
                box-shadow: rem(6) rem(4) rem(50) black;
            }
        }
    }

    // .main__event-container

    &__event-container {

        // .main__event-container_right-text

        &_right-text {
            width: 70%;
            text-align: justify;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    // .main__right-text

    &__right-text {

        // .main__right-text_about-event

        &_about-event {
            display: flex;
        flex-direction: column;
        gap: rem(40);
        justify-content: flex-start;
        }
    }

    // .main__riders

    &__riders {
        display: flex;
        flex-direction: column;
        gap: rem(30);
        margin-bottom: rem(50);

        &_rider-card {
            width: 100%;
            background-color: rgba(53, 53, 53, 0.66);
        }
        
        h2{
            width: rem(1400);
            margin: 0 auto;
            font-size: rem(30);
            color: rgba(155, 155, 155, 1);
        }
    }

    // .main__rider-card

    &__rider-card {

        // .main__rider-card_name-rider

        // &_name-rider {

        // }

        &_text-container{
            width: rem(1400);
            margin: 0 auto;
            padding: rem(15) 0;
            display: flex;
            flex-direction: column;
            gap: rem(60);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: rem(30) 0;
        gap: rem(50);
        // .main__content_info-event

        &_info-event {
            display: flex;
            gap: rem(20);
        }

        

        a{
            color: rgba(155, 155, 155, 1);
        }

        a:hover{
            color: rgb(218, 218, 218);
        }
    }

    // .main__info-event

    &__info-event {
        display: flex;
        flex-direction: column;
        gap: rem(15);
        // .main__info-event_img

        &_main-text{
            display: flex;
            flex-direction: column;
            gap: rem(30);
            text-align: justify;
            padding-bottom: rem(30);
            border-bottom: rem(2) solid rgba(155, 155, 155, 1);
            align-items: flex-end;
        }

        &_img {
            width: 30%;
            box-shadow: rem(6) rem(4) rem(50) black;
        }

        // .main__info-event_text-info

        &_text-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2{
                color: rgba(155, 155, 155, 1);
            }

            &__buttons{
                display: flex;
                align-items: center;
                gap: rem(15);
            }

            button{
                font-size: rem(20);
                background-color: rgba(103, 103, 103, 1);
                color: rgba(185, 185, 185, 1);
                border: rem(1) solid rgba(185, 185, 185, 1);
                width: rem(300);
                padding: rem(5);
                transition: 0.5s;
            }

            button:hover{
                transition: 0.5s;
                cursor: pointer;
                background-color: rgba(185, 185, 185, 1);
                color: rgba(103, 103, 103, 1);
                border: rem(1) solid rgba(103, 103, 103, 1);
            }
        }
    }

    // .main__text-info

    &__text-info {

        &_text{
            display: flex;
            flex-direction: column;
            gap: rem(15);
        }
        // .main__text-info_time

        &_time {
            display: flex;
            gap: rem(15);
        }
    }
}


