@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
html {
  --refRes: 1900;
  font-size: calc(100vw / var(--refRes) * 10);
}
@media (max-width: 1024px) {
  html {
    --refRes: 768;
  }
}
@media (max-width: 530px) {
  html {
    --refRes: 390;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(../img/bg.png);
  font-size: 2rem;
  background-size: contain;
  font-family: "Unbounded", sans-serif;
}

p {
  font-size: 2rem;
  color: rgb(155, 155, 155);
}

#add-photo {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

/* header */
.header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header {
  background-color: rgb(53, 53, 53);
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.header__row_logo:hover {
  animation: logo-anim 1s infinite ease alternate;
}

.header__row button {
  font-size: 2rem;
  background-color: rgb(103, 103, 103);
  color: rgb(185, 185, 185);
  border: 0.1rem solid rgb(185, 185, 185);
  width: 10rem;
  padding: 0.5rem;
  transition: 0.5s;
}

.header__menu {
  display: flex;
  width: 80rem;
  justify-content: space-between;
}

.header__menu_link {
  color: rgb(155, 155, 155);
}

.header__menu_link:hover {
  color: rgb(218, 218, 218);
}

.header__logo_link {
  color: rgb(155, 155, 155);
  font-size: 4rem;
  text-shadow: rgb(24, 20, 24) 0.7rem 0.7rem 0.6rem;
}

@keyframes logo-anim {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}
.header__logo_link span {
  color: rgb(0, 0, 0);
}

/* header finish */
.logo-color1 {
  color: rgb(155, 155, 155);
  font-size: 4rem;
  text-shadow: rgb(24, 20, 24) 0.7rem 0.7rem 0.6rem;
}

.logo-color1 span {
  color: rgb(0, 0, 0);
}

.footer {
  width: 100%;
  background-color: rgba(53, 53, 53, 0.66);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  padding: 3rem;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 5rem;
}

.left-footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.left-footer div {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.footer-size {
  width: 30%;
}

.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.toheader {
  width: 5rem;
  opacity: 0.5;
  transition: 0.5s;
}

.toheader:hover {
  opacity: 1;
  transition: 0.5s;
}

.footer-links {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1.5rem;
  width: 100%;
  border-bottom: 0.2rem solid rgb(155, 155, 155);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70rem;
}

nav a, .footer-links a {
  text-decoration: none;
  color: rgb(155, 155, 155);
}

nav a:hover, .footer-links a:hover {
  color: rgb(218, 218, 218);
}

.section-standart {
  width: 100%;
  padding-top: 7rem;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin: 0 auto;
}

.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.container-event {
  width: 140rem;
  margin: 0 auto;
  display: flex;
  gap: 4rem;
  padding: 3rem 0;
}

.events-block {
  width: 100%;
}

.right-event {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.text-event p {
  text-align: justify;
}

.button-style {
  font-size: 2rem;
  background-color: rgb(103, 103, 103);
  color: rgb(185, 185, 185);
  border: 0.1rem solid rgb(185, 185, 185);
}

.container2 button, .main__event-container_right-text button, .modal-letter button {
  transition: 0.5s;
  width: 25rem;
  height: 4rem;
}

.right-event button:hover, .main__event-container_right-text button:hover {
  width: 25.3rem;
  height: 4.3rem;
}

.container2 button:hover, .form-style button:hover, .main__event-container_right-text button:hover, .header__row button:hover, .modal-letter button:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: rgb(185, 185, 185);
  color: rgb(103, 103, 103);
  border: 0.1rem solid rgb(103, 103, 103);
}

.text-event {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: flex-start;
}

.text-event h3, .main__right-text_about-event h3 {
  font-size: 3rem;
  color: rgb(155, 155, 155);
}

.event {
  margin-bottom: 5rem;
  background-color: rgba(53, 53, 53, 0.66);
}

.event:nth-child(n+4) {
  display: none;
}

.event.is-visible {
  display: flex;
}

.event img {
  width: 30%;
  box-shadow: 0.6rem 0.4rem 5rem black;
}

.letter-form {
  background-color: rgba(53, 53, 53, 0.66);
  display: flex;
  color: rgb(106, 106, 106);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  width: 60%;
  margin: 0 auto;
}

input, textarea {
  padding: 1.5rem;
  color: rgb(106, 106, 106);
  font-weight: 700;
  border: 0.2rem solid rgb(106, 106, 106);
}

textarea {
  resize: none;
  min-height: 20rem;
}

.letter-form h3 {
  font-size: 3rem;
  text-align: center;
}

.form-style {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  justify-content: space-around;
}

.form-style button, .form-style input, .form-style textarea {
  width: 100%;
  height: 4rem;
}

.input-style {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 1.5rem;
  align-items: flex-start;
}

.error-text {
  width: 30rem;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(153, 0, 0);
}

.about-text {
  width: 50%;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  padding: 5rem;
}

.about-text h2, .container2 h2, .container3 h2, .main__more-events h2 {
  font-size: 5rem;
  color: rgb(155, 155, 155);
}

.about-text p {
  font-size: 3rem;
}

.s-row {
  width: 100%;
  display: flex;
  align-items: center;
}

.s-row img {
  width: 50%;
}

.hidden {
  display: none;
}

.wrap-for-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 2;
  background-color: rgba(82, 82, 82, 0.403);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
}

.modal-letter {
  width: 40%;
  display: flex;
  text-align: center;
  color: rgb(106, 106, 106);
  padding: 4rem 1.5rem 2rem;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 53, 53);
}

.modal-accept-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(53, 53, 53);
  padding: 0 5rem;
  position: absolute;
  color: rgb(142, 142, 142);
}
.modal-accept-event #close-but {
  position: relative;
  top: 2.8rem;
  right: -17rem;
  opacity: 0.5;
}
.modal-accept-event #close-but:hover {
  opacity: 1;
}

@media (max-width: 1024px) {
  .container, .main__event_event-container, .container-event, .main__rider-card_text-container, .main__riders h2 {
    width: 95.6rem;
  }
  .main__riders h2 {
    margin: 0 auto;
  }
  .header__menu {
    width: 50rem;
    font-size: 1.5rem;
  }
  .header__logo_link {
    font-size: 3rem;
  }
  .about-text p, .main__right-text_about-event p {
    font-size: 1.5rem;
  }
  .about-text, .main__right-text_about-event {
    gap: 4rem;
  }
  .text-event h3, .main__right-text_about-event h3 {
    font-size: 2rem;
  }
  .text-event p, .main__right-text_about-event p {
    font-size: 1.5rem;
  }
  .button-style {
    font-size: 1.3rem;
  }
  .container2 button, .main__event-container_right-text button {
    width: 16rem;
    height: 3rem;
  }
  .letter-form {
    width: 80%;
  }
  footer p {
    font-size: 1.5rem;
  }
}
@media (max-width: 530px) {
  .container, .main__event_event-container, .container-event, .main__rider-card_text-container, .main__riders h2, .container2 h2 {
    width: 30rem;
  }
  .s-row {
    flex-direction: column;
  }
  .s-row img {
    width: 100%;
  }
  .s-row .about-text {
    order: 1;
  }
  .s-row .img-about {
    order: 0;
  }
  .about-text {
    width: 100%;
  }
  .event, .main__events_event {
    width: 30rem;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .container-event, .main__event_event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .container-event img, .right-event, .main__event_event-container img, .main__event-container_right-text {
    width: 25rem;
  }
  .right-event, .main__event-container_right-text {
    align-items: center;
    gap: 6rem;
  }
  .main__riders h2 {
    margin: 0 auto;
  }
  .header__menu {
    width: 20rem;
    font-size: 0.7rem;
  }
  .header__logo_link {
    font-size: 1.5rem;
  }
  .about-text p, .main__right-text_about-event p {
    font-size: 1.7rem;
  }
  .about-text, .main__right-text_about-event {
    gap: 2rem;
  }
  .text-event h3, .main__right-text_about-event h3 {
    font-size: 2rem;
  }
  .text-event p, .main__right-text_about-event p {
    font-size: 1.7rem;
  }
  .button-style {
    font-size: 1.3rem;
  }
  .container2 button, .main__event-container_right-text button {
    width: 16rem;
    height: 3rem;
  }
  .container3, .container2 {
    text-align: center;
  }
  .input-style {
    width: 25rem;
  }
  .letter-form {
    width: 30rem;
    margin: 0;
  }
  .letter-form h3 {
    font-size: 2rem;
  }
  .letter-form button {
    font-size: 2rem;
  }
  .bottom-footer, .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    width: 100%;
  }
  .bottom-footer {
    padding: 3rem 0;
  }
  .right-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .right-footer p {
    order: 0;
  }
  .right-footer a {
    order: 1;
  }
  .center-footer {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  .center-footer a {
    order: 0;
  }
  .center-footer p {
    order: 1;
  }
  .footer-size {
    width: 100%;
    display: flex;
  }
  footer p {
    font-size: 1.5rem;
  }
  .modal-letter {
    width: 80%;
  }
  .modal-letter button {
    font-size: 1.5rem;
  }
  .main__content_info-event {
    flex-direction: column;
    align-items: center;
  }
  .but-accept-event {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */